<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Definições-safegas</title>
  <link rel="stylesheet" href="/style/style.css" />
  <style>
    button {
      color: white;
      border-radius: 4px;
      width: 20%;
      padding: 1%;
      background-color: red;
      border: none;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div class="dashboard">
    <aside class="sidebar">
      <div class="logo">⛽</div>
      <nav>
        <ul>
          <a href="/index.htm">🏠</a>
          <a href="/views/tool.html">📅</a>
          <a class="link-hist" id="hist" href="#">📈</a>
          <a class="link-hist" href="/views/definicoes.html">⚙️</a>
        </ul>
      </nav>
    </aside>

    <main class="main-content">
      <header class="header">
        <div class="title">Definições</div>
        <input type="text" placeholder="procurar..." />
        <div class="date" id="date"></div>
        <div class="user" id="username"></div>
        <button class="refresh">🔄 Refresh</button>
      </header>
      <section class="carts">
        <h2>Usuário</h2>
        <div class="cart">
          <div class="user" id="username"></div>
          <!-- <span class="positive">+18.6%</span> -->
        </div>
        <h2>Terminar sessão</h2>
        <div class="cart">
          <button class="" onclick="logout()">Sair</button><br>
          <button class="" onclick="deletarUsuario()">Apagar conta</button>
          <!-- <span class="positive">+18.6%</span> -->
        </div>
      </section>
    </main>
  </div>
  <script>
    const nome = localStorage.getItem("usuarioNome");
    document.getElementById("username").textContent = nome || "Visitante";
    function logout() {
      localStorage.removeItem("usuarioNome");
      alert("Saiu");
      window.location.href = '/views/login.html';
    }
  </script>
  <script src="/script/script.js"></script>
  <script src="/script/script2.js"></script>
</body>

</html>