<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Histórico-safegas</title>
  <link rel="stylesheet" href="/style/style.css" />
</head>
<body>
  <div class="dashboard">
    <aside class="sidebar">
      <div class="logo">📊</div>
      <nav>
        <ul>
          <li>📅</li>
          <li><a href="#"></a>📈</li>
          <li>⚙️</li>
        </ul>
      </nav>
    </aside>

    <main class="main-content">
      <header class="header">
        <div class="title">HISTÓRICO</div>
        <input type="text" placeholder="procurar..." />
        <div class="date" id="date">Jan 28, 2024</div>
        <div class="user" id="username"></div>
        <button class="refresh">🔄 Refresh</button>
      </header>

      <section class="cards">
        <div class="card">
          <h3>Recentes 🔔</h3>
          <p>Dia x gastou </p>
          <!-- <span class="positive">+18.6%</span> -->
        </div>
        <div class="card">
          <h3>Meses passado 🔔</h3>
          <p>Dia x gastou</p>
          <!-- <span class="positive">+18.6%</span> -->
        </div>
        <div class="card">
          <h3>Ano passado 🔔</h3>
          <p>Dia x gastou</p>
          <!-- <span class="positive">+18.6%</span> -->
        </div>
      </section>
    </main>
  </div>
  <script src="/script/script.js" ></script>
</body>
</html>
